<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.food.webapp.dao.RestaurantDao">
   
	<insert id="insert" parameterType="com.food.webapp.entity.Restaurant">
		<!-- insert into NoticeFile(id, src, noticeId)
		value((select IFNULL(max(cast(id as unsigned)), 0)+1 from NoticeFile f),#{src}, #{noticeId}); -->
	</insert>
	
    </mapper>